/* about section styling */
.about-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 80vw;
  margin: 5vw;
  border-radius: 10px;  
}

.about-header h2 {
  align-self: flex-start;
  padding-left: 2.5%;
  margin-bottom: 1%;
  font-size: 2.5rem;
}

.about-content {
  background-color: #e9e9e9;
  width: 80vw;
  padding: 3%;
  border-radius: 10px;  
}

.about-text {
  width: 95%;
  margin: 0;
  font-size: 1.5rem;
}
.about-text h3,p,li {
  font-size: 1em;
}

.about-blurb {
  margin-bottom: 4vh;
}

.about-blurb ul {
  padding-left: 5%;
  list-style-type: disc;
}

.about-blurb li {
  padding-left: 2%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .about-header h2 {
    font-size: 2rem;
    text-align: center;
  }
  .about-blurb {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-header h2 {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .about-content {
    font-size: 1.25rem;
  }
}

/* Responsiveness for 576px - 767px, 768px - 991px, 992px - 1199px, and 1200px - 1919px  */