/* footer styling */
footer {
  background-color: transparent;
  padding: 2rem 0;
}

footer button {
  width: 7%;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

#footer-button {
  color: #9DCAAD;
  background: none;
  border: none;
}