/* reset.css */
/* box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Reset font styles */
body {
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: normal;
}

/* Set default link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* global styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* TO DO: FUN Headers */
h3 {
  text-decoration:underline;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #0077cc;
}

/* custom styles */

/* header styling */
.navbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
  padding-left: 5vw;
  height: 5vh;
  width: 100%;
}

/*  hide dropdown button until screen width < 768px  */
.navbar-collapse {
  display: none;
}

/* styling of parent container with child links */
.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 30%;
  padding: 1%;
  margin-right: 5%;
  margin-bottom: 2%;
  background-color: #e9e9e9;
  border-radius: 10px;
  opacity: 0.8;
}

/* styling of links text */
.nav-link {
  /* 5px top bottom and 10px left right */
  padding: 0 5%;
  font-size: 1.5rem;
  text-align:center
}

.nav-link:hover {
  cursor: pointer;
}

.home-container {
  display: flex;
  align-items:center;
  /* padding-top: 10vh; */
  margin: 3vh 5vw;
  width: 75vw;
  height: 50vh;  
  background-color: #f8f8f8;
}

.home-content {
  display: block;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.home-content h1 {
  font-size: 5rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #e9e9e9;
  margin: 5vw;
  width: 80vw;
  padding: 40px;
}

.about-header h2 {
  margin-bottom: 1vh;
  align-self: flex-start;
  font-size: 2.5rem;
}

.about-content {
  width: 65vw;
  justify-self: center;
  font-size: 1.75rem;
}

.about-blurb {
  margin-bottom: 4vh;
}

.work-container {
  display: flex;
  flex-direction: column;
  height: 130vh;
  background-color: #e9e9e9;
  margin: 5vw;
  width: 90vw;
  padding: 40px;
}

.work-header h2 {
  margin-bottom: 1vh;
  align-self: flex-start;
  font-size: 2.5rem;
}

.all-projects-container {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width: 100%;
  height: 100%;
  background-color:antiquewhite;
}

/* overlay must be absolutely positioned over this relative element */
.project-container {
  position: relative; 
  display: inline-block;
}

.project-image {
  width: 300px; /* Adjust the image width as needed */
  height: auto;
}

.project-overlay {
  position: absolute; /* To overlay image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* Adjust the overlay background color and transparency as desired */
  color: #000000; /* Adjust the overlay text color */
  display: flex;
  flex-direction: column; /* Contents top to bottom order */
  justify-content: center; /* Center contents vertically  */
  align-items: center; /* Center contents horizontally */
  opacity: 0; /* Initially fully transparent */
  transition: opacity 0.3s ease; /* Overlay smoothly covers image */
}

/* when project-container is hovered, turn project-overlay fully opaque */
.project-container:hover .project-overlay {
  opacity: 1;
}

.project-title {
  font-size: 2rem; /* Adjust the title font size as needed */
  margin-bottom: 3%; /* Adjust the margin between the title and other details */
}

.project-technologies {
  font-size: 1rem; /* Adjust the technologies font size as needed */
  margin-bottom: 3%; /* Adjust the margin between the technologies and the button */
}

.learn-more-button {
  background-color: #fff; /* Adjust the button background color */
  color: #000; /* Adjust the button text color */
  padding: 1% 2%; /* Adjust the button padding as needed */
  border: none;
  cursor: pointer;
}

/* .project {
  position: relative;
  width: 49.5%;
  height: 49%;
  margin: 1px;
  background-color: #e8f4fd;
  border: 2px solid #000; 
}

.project-header {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
} */

.contact {
  background-color: #f8f8f8;
  height: 80vh;
  margin-left: 5vw;
  padding: 50px;
}

/* footer styling */
footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

footer button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

/* Styles for smartphones in portrait orientation */
@media (max-width: 768px) {
  .home-container  {
    height: 20vh; 
    width: 10vw;
  }
  .home-content h1 {
    font-size: 2.5rem;
  }
  .about-header {
    align-self: center;
  }
  .about-content {
    font-size: 1.5rem;
  }
  /* Styles for vertical/collapsed navbar */
  .navbar {
    width: 20%;
  }

  .navbar button {
    width: 100%;
    justify-content: center;
  }

   /* show the links when navbar-toggler btn clicked and showLinks state is true */
  .nav-links.show {
    display: block;
    border-radius: 10px;
    opacity: 0.8;
  }

  .navbar-collapse {
    display: flex;
    font-size: 1rem;
  }

  /* container holding each navlink */
  .nav-links {
    position: absolute; /* appears near closest ancestor element which is the navbar */
    top: 100%; /* below nearest ancestor element */
    width: 400%;
    max-width: none; /* reset max-width */
    display: none; /* hide the links by default */
    /* add any other styles you need */
  }
  .nav-link {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
/* Styles for smartphones in landscape orientation and tablets in portrait orientation */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-container  {
    height: 25vh; 
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .about-header {
    align-self: center;
  }
  .about-content {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1.15rem;
  }
}

/* Styles for tablets in landscape orientation and smaller desktop screens */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .home-container  {
    height: 35vh; 
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .nav-link {
    font-size: 1.25rem;
  }
}
   
/* Styles for larger desktop screens */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .home-container  {
    height: 45vh; 
  }
  .home-content h1 {
    font-size: 4.5rem;
  }
}
