/* home section styling */
.home-container {
  width: 100vw;
  margin: 4% 5% 3% 5%;
  display: flex;
  align-items:center;
  background-color: #f8f8f8;
}

.home-content {
  display: block;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  font-size: 4.5rem;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .home-container {
    margin: 0 5% 3% 5%;
  }
  .home-content h1 {
    font-size: 2.5rem;
    margin-top: 3vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .home-container {
    margin: 2vh 5vw 3vh 5vw
  }
  .home-content h1 {
    font-size: 2.75rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .home-content h1 {
  font-size: 3.75rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
}
