/* home section styling */
.home-container {
  display: flex;
  align-items:center;
  margin: 3vh 5vw;
  width: 100vw;
  height: 50vh;  
  background-color: #f8f8f8;
}

.home-content {
  display: block;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  font-size: 4.75rem;
}
@media (max-width: 768px) {
  .home-container  {
    height: 20vh; 
    width: 10vw;
  }
  .home-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-container  {
    height: 25vh; 
  }
  .home-content h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .home-container  {
  height: 35vh; 
  }
  .home-content h1 {
  font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .home-container  {
  height: 45vh; 
  }
}
