/* navbar styling */
.navbar {
  width: 100%;
  padding-left: 3%;
  justify-content: flex-start;
}

/*  hide dropdown button until screen width < 768px  */
.navbar-collapse {
  display: none;
}

/* styling of parent container with child links */
.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 35%;
  padding: 1%;
}

/* styling of links text */
.nav-link {
  padding: 2% 5%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  opacity: 0.8;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #364958;
}

button:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}


@media screen and (min-width: 576px) and (max-width: 767px) {
  /* styles for vertical/collapsed navbar */
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    height: 5vh
  }

  .navbar {
    width: 12%;
  }

  .navbar span {
    width: 100%;
  }

    /* show the links when navbar-toggler btn clicked and showLinks state is true */
  .nav-links.show {
    display: block;
    border-radius: 10px;
    background-color: #e9e9e9; /* Add the desired background color here */
    top: 110%; /* Position the container below the dropdown button */
    left: -700%; /* Position the container to the left */
    width: 800%; /* Set the width to 100% */
  }

  .navbar-collapse {
    display: flex;
    font-size: 1rem;
  }

  /* container holding each navlink */
  .nav-links {
    position: absolute; /* appears near closest ancestor element which is the navbar */
    top: 100%; /* below nearest ancestor element */
    width: 400%;
    max-width: none; /* reset max-width */
    display: none; /* hide the links by default */
  }
  .nav-link {
    width: 100%;
    padding: 3%;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}