/* work section styling */
.work-container {
  width: 80vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 5vw;
}

.work-header h2 {
  padding-left: 2.5%;
  margin-bottom: 1%;
  align-self: flex-start;
  font-size: 2.5rem;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .work-header h2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .work-header h2 {
    font-size: 2rem;
    text-align: center;
  }
}